/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Nov-2015, 15:14:44
    Author     : Erick
*/

/*Items inside central-container*/

/********************************************************* Items inside body-container *********************************************************/

p{
    text-shadow:-3px 3px 2px rgba(173,4,4,1);
    color:#FFFFFF;
    letter-spacing:0pt;
    word-spacing:4pt;
    font-size:144%;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:0;
    margin:0px;
    padding:0px;
}
.showhideBtn{
    width: 50%;
    background: #cccccc;
    background-image: -webkit-linear-gradient(top, #cccccc, #000000);
    background-image: -moz-linear-gradient(top, #cccccc, #000000);
    background-image: -ms-linear-gradient(top, #cccccc, #000000);
    background-image: -o-linear-gradient(top, #cccccc, #000000);
    background-image: linear-gradient(to bottom, #cccccc, #000000);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 0px 7px 7px #666666;
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    border: solid #000000 2px;
    text-decoration: none;
}
.showhideBtn:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #8a8a8a);
    background-image: -moz-linear-gradient(top, #000000, #8a8a8a);
    background-image: -ms-linear-gradient(top, #000000, #8a8a8a);
    background-image: -o-linear-gradient(top, #000000, #8a8a8a);
    background-image: linear-gradient(to bottom, #000000, #8a8a8a);
    text-decoration: none;
}
h2{
    font-family: "Ghastly_Panic", Fallback, sans-serif;
    text-align: center;
    text-shadow:3px 2px 0 rgba(143,3,3,1);
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:6pt;
    word-spacing:9pt;
    font-size:40px;
    text-align:center;    
    line-height:2;
}
h3{
    font-family: "ArtDystopia", Fallback, sans-serif;
    text-align: center;
    text-shadow:3px 2px 0 rgba(143,3,3,1);
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:6pt;
    word-spacing:9pt;
    font-size:32px;
    text-align:center;    
    line-height:2;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #df2200;
    border: 17px none #b10501;
    border-radius: 51px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b00000;
}
::-webkit-scrollbar-thumb:active {
    background: #8c0000;
}
::-webkit-scrollbar-track {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 32px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #000000;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/* data table */
div.datagrid-container{
    visibility: hidden;    
}
.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; } 
.datagrid {
    width: 50%;
    height: 200px;
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; 
    overflow-y: scroll; 
    border: 5px solid #8C8C8C; 
    -webkit-border-radius: 19px; 
    -moz-border-radius: 19px; 
    border-radius: 19px; }
.datagrid table td, .datagrid table th { padding: 6px 15px; }
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #C9C9C9) );
    background:-moz-linear-gradient( center top, #000000 5%, #C9C9C9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#000000', 
        endColorstr='#C9C9C9');
    background-color:#000000; 
    color:#FAFAFA; 
    font-size: 16px; 
    font-weight: bold; 
    border-left: 3px solid #A3A3A3; 
} 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { 
    color: #7D7D7D; 
    border-left: 4px solid #DBDBDB;
    font-size: 15px;
    border-bottom: 2px solid #CDD8DE;
    font-weight: normal; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }

.table-button{
    width: 50%;
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #000000);
    background-image: -moz-linear-gradient(top, #ff0000, #000000);
    background-image: -ms-linear-gradient(top, #ff0000, #000000);
    background-image: -o-linear-gradient(top, #ff0000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 0px 7px 7px #666666;
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    border: solid #000000 2px;
    text-decoration: none;
}
.table-button:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #db0000);
    background-image: -moz-linear-gradient(top, #000000, #db0000);
    background-image: -ms-linear-gradient(top, #000000, #db0000);
    background-image: -o-linear-gradient(top, #000000, #db0000);
    background-image: linear-gradient(to bottom, #000000, #db0000);
    text-decoration: none;
}

.img_room{
    width: 20%;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=626262&density=100&opacity=100");
    border-radius: 100px 100px 0px 0px;
    -moz-border-radius: 100px 100px 0px 0px;
    -webkit-border-radius: 100px 100px 0px 0px;
    border: 5px solid #000000;
    -webkit-box-shadow: 3px 9px 119px 77px rgba(0,0,0,1);
    -moz-box-shadow: 3px 9px 119px 77px rgba(0,0,0,1);
    box-shadow: 3px 9px 119px 77px rgba(0,0,0,1);
}

/***************************************** form ******************************************/

.form-div table{
    width: 50%;
}
.p-form{
    text-align: left;
}
#date1p,#date2p,#date3p,#datePicker1,#datePicker2,#datePicker3,#select1,#select2,#select3{
    visibility: hidden;
}
#warning1,#warning2,#warning3,#warning4{
    visibility: hidden;
    font-weight:normal;
    font-variant:small-caps;
    color:#000000;
    background-color:red;
    /*border-radius: 120px 120px 120px 0px;
    -moz-border-radius: 120px 120px 120px 0px;
    -webkit-border-radius: 120px 120px 120px 0px;*/
    border: 2px solid #000000;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:12px;
    text-align:left;
    font-family:impact, sans-serif;
    line-height:1;
}
.input{
    color: black;
    font-weight:bold;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    -webkit-box-shadow: inset -19px -20px 27px -17px rgba(0,0,0,1);
    -moz-box-shadow: inset -19px -20px 27px -17px rgba(0,0,0,1);
    box-shadow: inset -19px -20px 27px -17px rgba(0,0,0,1);
   font-weight:normal;
   font-variant:small-caps;
   color:#000000;
   border: 1px solid; 
   letter-spacing:1pt;
   word-spacing:3pt;
   font-size:15px;
   text-align:left;
   font-family:courier new, courier, monospace;
   line-height:1;;
}